<%-include('partials/header') %>
    <div class=' centered mr-5 ml-5'>
        <h1 class='display-3'>Secrets</h1>
        <p class='lead'>Don't keep your secrets, share them anonymously!</p>
        <hr />
        <div class='buttons'>
            <a class='btn btn-light btn-lg' href="/register">Register</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a class='btn btn-dark btn-lg' href='/login'>Login</a>
        </div>
    </div>
<%-include('partials/footer') %>