<%-include('partials/header') %>
<div class=' centered mr-5 ml-5'>
              
    <h1 class='dispaly-3 secret'>You've Discovered My Secret!!</h1>
    <% users.forEach((user)=>{%>
        <p class="secret-text"><%=user.secret%></p>
    <%})%>
  
    <hr/>
    <a class='btn btn-dark btn-lg' href="/logout" role="button">Log Out</a>&nbsp;&nbsp;&nbsp;
    <a class='btn btn-dark btn-lg' href="/submit" role="button">Submit a Secret</a>
</div>


<%-include('partials/footer') %>